{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="container">
     <div class="container">
        {% for message  in get_flashed_messages()%}
        <div class="alert alert-warning">
            <button class="close" type="button" data-dismiss="alert">&times;</button>
            {{message}}
        </div>
        {% endfor%}
    </div>
	<h1>hello , {%if name %} {{name}}{% else%}Stranger{% endif%} welcome to flasky</h1>
    {% if not known %}
    <p class="p">Pleased to meet you</p>
    {%else%}
    <p class="p">Happy to see you again!</p>
    {%endif%}
    <p>The local date and time is {{moment(current_time).format('LLL')}}</p>
    <p>That was {{moment(current_time).fromNow(refresh=True)}}</p>
	<a href="/user/bonie" class="btn btn-primary btn-sm">user</a>
</div>
<div class="container"
style="margin-top: 1rem;">
    {{ wtf.quick_form(form) }}
</div>


{% endblock%}
